/node_modules
/public/hot
/public/css/
/public/material/css/material-dashboard.css
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/audio/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.project
.settings/
/.docker/volumes
/.docker/volumes/mysql/data
