$app-background-color: #f15a22;
$app-background-color-light: #f17959;

html, body {
    overflow-x: unset;
}
header {
    height: 200px;
    display: flex;
    justify-content: space-between;
}
table {
    border: 3px solid $app-background-color;
    margin: 30px auto;

}

table thead tr th ,
table tbody tr td {
    padding: 12px 8px;
    vertical-align: middle;
}
table thead tr th {
    background-color: $app-background-color;
    color: #fff;
    height: 60px;
}

tr:nth-child(2n) {
    background-color: #fce4d6;
}

td {
    border: 3px solid $app-background-color;
}

h1{
    margin-top: 20px;
    font-weight: 700;
    font-size: 14pt;
    background-color: $app-background-color;
    text-align: center;
    color: #fff;
    padding: 8px;
}
header img.logo{
    height: 180px;
}
section{
    margin-bottom: auto;
    margin-top: auto;
    line-height: 1.5;
    font-weight: 900;
    font-size: 17px;
}