{% extends "base.html" %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome</label>
                                        <input type="text" name="customer_name" class="form-control" value="{{ form.name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cpf</label>
                                        <input type="text" name="customer_cpf" value="{{ form.cpf }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail</label>
                                        <input type="text" name="customer_email" value="{{ form.email }}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Telefone</label>
                                        <input type="text" name="customer_phone" value="{{ form.phone }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Endereco</label>
                                        <input type="text" name="customer_address1" value="{{ form.address1 }}"  class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Complemento</label>
                                        <input type="text" name="customer_address2" value="{{ form.address2 }}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cidade</label>
                                        <input type="text" name="customer_city" value="{{ form.city }}"  class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">                                        
                                        <select name="customer_state"  title="UF" >
                                            <option selected> Selecione</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                        </select>
                                    </div>
                                </div>                               
                            </div>

                            <div class="row">
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating">Cep</label>
                                                    <input type="text" name="customer_postcode" value="{{ form.postcode }}" class="form-control">
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                    <label class="bmd-label-floating">País</label>
                                                    <input type="text" name="customer_country" value="{{ form.country }}" class="form-control">
                                                </div>
                                        </div>

                            </div>


                            <div class="row">
                                <div id="typography">
                                    <div class="tim-typo">
                                        <h3>
                                            <span class="tim-note">Header 3</span>Dados da empresa
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome</label>
                                        <input type="text" name="company_name" value="{{ form.company_name }}" {% if not form.company_name %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cnpj</label>
                                        <input type="text" name="company_cnpj" value="{{ form.company_cnpj }}"  {% if not form.company_cnpj %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail</label>
                                        <input type="text" name="company_email" value="{{ form.company_email }}" {% if not form.company_email %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Telefone</label>
                                        <input type="text" name="company_phone"  value="{{ form.company_phone }}" {% if not form.company_phone %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Endereco</label>
                                        <input type="text" name="company_address1" value="{{ form.company_address1 }}" {% if not form.company_address1 %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Complemento</label>
                                        <input type="text" name="company_address2" value="{{ form.company_address2 }}" {% if not form.company_address2 %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cidade</label>
                                        <input type="text" name="company_city" value="{{ form.company_city }}" {% if not form.company_city %} disabled {% endif %} class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="form-group">                                        
                                                <select name="company_state" title="UF" >
                                                    <option selected> Selecione</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                </select>
                                            </div>
                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cep</label>
                                        <input type="text" name="company_postcode" value="{{ form.company_postcode }}" {% if not form.company_postcode %} disabled {% endif %}  class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Pais</label>
                                            <input type="text" name="company_country" value="{{ form.company_country }}" {% if not form.company_country %} disabled {% endif %}  class="form-control">
                                        </div>
                                    </div>
                            </div>
                            <input type="hidden" name="type" value="{{ form.type }}">
                    

                            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    </div>
                   
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>







{% endblock %}