<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
   
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/css/login.css" />
    <link rel="icon" type="image/png" href="{{ baseUrl }}/assets/img/favicon.png">
    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>

<body translate="yes">
    <hgroup>
        <h1>Template Login</h1>
    </hgroup>
    <form method="POST" action="{{ baseUrl }}/{{ formAction }}">
        <div class="group">
            <input type="text" name="mail"><span class="highlight"></span><span class="bar"></span>
            <label>E-mail</label>
        </div>
        <div class="group">
            <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
            <label>Senha</label>
        </div>
        <button type="submit" class="button buttonBlue">Entrar
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>

    <footer><a href="http://lt.coop.br/" target="_blank"><img src="{{ baseUrl }}/assets/img/favicon-vox.png"></a>
        <p>Development <a href="http://lt.coop.br/" target="_blank">Dashboard VoxLink</a></p>
    </footer>
    <script id="rendered-js" src="{{ baseURL }}/assets/js/core/jquery.min.js"> </script>
</body>

</html>